output/*
data/*
.snakemake
.snakemake/**
*.out
logs/*
tami_project
tami_project/*
logs_old/*
.Rproj.user
*.sh
.vscode
workflow/notebooks
run_snakemake_subsampling.sh
run_snakemake.sh
config_old/*
config/slurm_scg/*
config/main_pcqtl.yaml
# R-specific files
.RData
.Rhistory
.RData.save
.Rapp.history
